html {
  background-color: #cca940;
}
body {
  width: 800px;
  height: 100%;
  font-size: 18px;
}

.nameInput {
  width: 80vh;
}

#listText {
  /* height: 1000px; */
  /* max-height: 85vh; */
  overflow: auto;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
